body {
    margin: 0;
    font-family: "Microsoft JhengHei", sans-serif;
}

/*div {
    border: 1px solid;
}*/

/* --------- 頁首 --------- */
.header {
    display: flex;
    border-bottom: 3px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    height: 800px;
    margin: 10px;
}

.header-left h1 {
    padding: 8px;
    margin: 0;
    border: 5px solid #e0e0e0;
    border-radius: 50px;
}

.header-left img {
    height: 50px;
    margin-right: 8px;
}

/* --------- 主內容區 --------- */
.main {
    display: flex;
    min-height: 500px;
}

/* 左側選單 */
.sidebar_left {
    width: 200px;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.sidebar_left h3 {
    text-align: center;
    margin-top: 15px;
}

.sidebar_left button {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 15px 0;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #725AC1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1;
}

.sidebar_left button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
}

.sidebar_left button:active {
    transform: scale(0.9);
}

/* 中央內容 */
.content {
    flex: 1;
    position: relative;
    padding: 20px;
    border: 5px solid #e0e0e0;
    border-radius: 50px;
}

/* 右側欄位 */
.sidebar_right {
    width: 200px;
    padding: 10px;
    border-left: 3px solid black;
    margin-left: 30px;
}

/* --------- 頁尾 --------- */
.footer {
    padding: 5px;
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    border-top: 3px solid black;
}
.footer p {
    margin: 5px 0;
}